{% extends 'base.html' %}
{% load static %}
{% block head_title %}{{ business.title|slice:":35" }}{% endblock %}
{% block head %}
{% if favicon %}
<link rel="shortcut icon" href="{{MEDIA_URL}}{{ favicon }}" type="image/x-icon">
<link rel=icon href="{{MEDIA_URL}}{{ favicon }}" type="image/x-icon">
{% endif %}
{% endblock %}

{% block stylesheet %}

{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block content %}
<!--==========================
    Business navbar
  ============================-->
{% include 'businesses/business_navbar.html' %}


<!--==========================
    Business Title and about
  ============================-->
<br><br>
<div id='about' class="container mt-5">
    <div class="card">
        <div class="card-header">
            <div class="row rounded-top p-3 text-{{ bg_color.1 }} align-items-center"  style="background-color: {{ bg_color.0 }};">
                <h1>{{ business.title }}</h1>
            </div>
        </div>
        <div class="card-body">
            <div class="row p-4">
                <h4>{{ business.description }}</h4>

            </div>
        </div>
    </div>

</div>

<!--==========================
    Business service category
  ============================-->

<div id='service' class="container mt-5">
    <div class="card">
        <div class="card-header">
            <div class="row rounded-top p-3 text-{{ bg_color.1 }} align-items-center"  style="background-color: {{ bg_color.0 }};">
                <h6>Serviços por Categoria</h6>
            </div>
            {% for category in services_categories %}

            <a class="border-0 text-dark" href="{% url 'service_category_detail' business.slug category.slug  %}">

            {{ category.title }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>


<!--==========================
    Business professionals
  ============================-->

<div class="container mt-5">
    <div id='professionals' class="card">
        <div class="card-header">
            <div class="row rounded-top p-3 text-{{ bg_color.1 }} align-items-center"  style="background-color: {{ bg_color.0 }};">
                <h6>Profissionais</h6>
            </div>
            {% for professional in professional_list %}

            <a class="border-0 text-dark" href="{% url 'professional_detail' business.slug professional.slug  %}">

                {{ professional.name }}
            </a>
            {% endfor %}
            <div class="row rounded-top p-3 text-{{ bg_color.1 }} align-items-center"  style="background-color: {{ bg_color.0 }};">
                <h6>Users:</h6>
            </div>
            {% for user in business.users.all %}
            {{ user.email }}<br>

            {% endfor %}
        </div>
    </div>
</div>

<!--==========================
    Business Footer
  ============================-->

<div class="container mt-5">
    <div id='contato' class="card">
        <div class="card-header ">
            <div class="row rounded-top p-3 text-{{bg_color.1}} align-items-center"  style="background-color: {{ bg_color.0 }};">
                <h6>Contato</h6>
            </div>
            <div class="row justify-items-center">
                {% if qr_code %}
                <div class="col-12 col-md-6">
                    <img src="{{MEDIA_URL}}{{ qr_code }}" alt="qr_code{{ qr_code.name }}">
                </div>
                {% endif %}
                <div class="col-12 mt-md-4 col-md-6">
                    {% for address, phones, hours_days in phone_and_address_list %}
                    <div class="row justify-items-center">
                        {% if address.zip_code != '' %}
                        <div class="col-12 col-md-6">
                            <a class="border-0 text-dark" href="{% url 'business_address_detail' business.slug address.pk  %}">
                                {{ address.zip_code }}<br>
                                {{ address.street }}, {{ address.street_number }} - {{ address.district }}<br>
                                {{ address.city }} - {{ address.state }}<br>
                            </a>
                        </div>
                        {% endif %}
                        <div class="col-12 col-md-6">
                            {% for phone in phones %}
                            <p class="card-text">
                                <a href="https://api.whatsapp.com/send?phone=+55{{ phone.get_phone_to_call }}&text= Olá, gostaria de fazer um agendamento!'" target=_blank class="rounded-circle text-success" title="Agende por whatsapp">
                                    <i class="fab fa-whatsapp" aria-hidden="true"></i></a>
                                <a class="text-dark" href="tel:0{{ phone.get_phone_to_call }}"><i class="fa fa-phone" aria-hidden="true"></i> {{ phone.get_phone_format }} </a></p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row justify-items-center">

                        <a class="border-0 text-dark" href="{% url 'business_address_hours_create' business.slug address.pk  %}">
                        <p class="card-text"><small class="text-muted"><i class="far fa-clock" aria-hidden="true"></i> Segunda a Sábado: 9h às 19h - Domingo: Fechado</small></p>
                        </a>
                        {% for day in hours_days %}
                        {{ day }}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}

    <script src="{% static 'js/jquery-slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        $('.navbar-nav>li>a').on('click', function(){
            $('.navbar-collapse').collapse('hide');
        });
    </script>

    {% endblock %}
