{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}


{% block head_title %}Adicionando endereço da {% if business_slug %}{{ business_slug }} {% endif %}{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">

{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}

<div class="row mt-md-3 justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-10">
        <div class="card">
            <div class="card-body">
                <div class="card-header rounded-top">
                    <div class="row justify-content-center">
                        <h4>Adicionando endereço para  {% if business_slug %}{{ business_slug }} {% endif %}</h4>
                    </div>

                    <div class="row w-75 mx-auto mt-2 rounded-top bg-white justify-content-center">
                        <div class="progress mt-3 text-center w-75" style="height: 10px;">
                            <div class="progress-bar bg-success" role="progressbar" {% if wizard.steps.step1 == 1 %}  style="width: 50%;" aria-valuenow="50" {% endif %} {% if wizard.steps.step1 == 2 %}  style="width: 60%;" aria-valuenow="60" {% endif %} {% if wizard.steps.step1 == 3 %}  style="width: 70%;" aria-valuenow="70" {% endif %} aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="row w-75 mx-auto mb-3 pb-2 pt-2 rounded-bottom bg-white justify-content-center">
                        <div class="col-3 text-success">
                            <div class="row justify-content-center">
                                <small class="">Salão</small>
                            </div>
                        </div>
                        <div class="col-3 {% if wizard.steps.step1 > 1 %} text-success text-center {% else %} text-muted {% endif %}">
                            <div class="row justify-content-center">
                                <small class="">Endereço</small>
                            </div>
                        </div>
                        <div class="col-3 {% if wizard.steps.step1 > 2 %} text-success text-center {% else %} text-muted {% endif %}">
                            <div class="row justify-content-center">
                                <small class="">Telefone</small>
                            </div>
                        </div>
                    </div>

                    <div class="progress" style="height: 10px;">
                        <div class="progress-bar bg-success" role="progressbar" {% if wizard.steps.step1 == 1 %}  style="width: 25%;" aria-valuenow="25" {% endif %} {% if wizard.steps.step1 == 2 %}  style="width: 50%;" aria-valuenow="50" {% endif %} {% if wizard.steps.step1 == 3 %}  style="width: 85%;" aria-valuenow="85" {% endif %} aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="row mt-2 justify-content-center">
                        <div class="col-4 text-success">
                            <div class="row justify-content-center">
                                <small class="">{% if request.session.street %} {{ request.session.street }} {% else %}Rua{% endif %}</small>
                            </div>
                            <div class="row justify-content-center">
                                <i class="fa fa-road" aria-hidden="true"></i>

                            </div>
                        </div>
                        <div class="col-4 {% if wizard.steps.step1 > 1 %} text-success text-center {% else %} text-muted {% endif %}">
                            <div class="row justify-content-center">
                                <small class="">{% if request.session.street_number %} {{ request.session.street_number }} {% else %}numero{% endif %}</small>
                            </div>

                            <div class="row justify-content-center">
                                <i class="fas fa-street-view"></i>


                            </div>
                        </div>
                        <div class="col-4 {% if wizard.steps.step1 > 2 %} text-success {% else %} text-muted {% endif %}">
                            <div class="row justify-content-center">
                                <small class="">Bairro</small>
                            </div>
                            <div class="row justify-content-center">
                                <i class="fas fa-map-signs"></i>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="col-1 mb-2 float-right">
                            {% if wizard.steps.prev %}
                            <button name="wizard_goto_step" type="submit" class="btn btn-sm text-white btn-dark" value="{{ wizard.steps.prev }}"><i class="fa fa-1x fa-undo" aria-hidden="true"></i></button>

                            {% else %}
                            <a href="{% url 'business_detail' business_slug.slug %}" class="btn btn-sm text-white btn-dark" data-toggle="tooltip" data-placement="bottom" title="Sair e ir para {{business_slug}}">
                                <i class="fa fa-1x fa-close" aria-hidden="true"></i>
                            </a>

                            {% endif %}
                        </div>
                        <table>
                            {{ wizard.management_form }}
                            {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                            {{ form|crispy }}
                            {% endfor %}
                            {% else %}
                            {% include 'includes/form.html' %}
                            {% endif %}
                        </table>


                        <div class="row justify-content-center">
                            <input type="submit" class="btn btn-success mt-3 px-5" value="{% if wizard.steps.step1 == 3 %}{% trans 'salvar' %}{% else %}{% trans 'avançar' %}{% endif %}"/>
                        </div>

                    </form>
                    <div class="row justify-content-end">
                        <small class="text-muted text-right">{{ wizard.steps.step1 }} de {{ wizard.steps.count }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/get_address.js' %}"></script>

<script type="text/javascript">

    $(getAddress("#id_0-zip_code", "#id_0-street", "#id_0-district", "#id_0-city", "#id_0-state"))


</script>
{{ wizard.form.media }}

{% endblock %}