{% extends 'base.html' %}
{% load static %}

{% block head_title %}Nova categoria de profissional{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class="row mt-md-3 justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-10">
        <div class="card">
            <div class="card-body">
                <div class="card-header rounded-top">
                    <div class="row justify-content-center">
                        <h4>Nova categoria de profissional</h4>
                    </div>
                </div>
                <div class="card-body text-dark">
                    <form method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <div class="row mr-1 justify-content-center">
                            {% if professional_slug %}
                            <a href="{% url 'professional_select_category_update' business_slug  professional_slug %}" class="btn btn-sm mr-1 mt-1 px-4 btn-secondary" >voltar</a>
                            {% else %}
                            <a href="{% url 'business_detail' business_slug  %}" class="btn btn-sm mr-1 mt-1 px-4 btn-secondary" >cancelar</a>
                            {% endif %}
                            <button type="submit" class="btn btn-sm mt-1 px-5 btn-success">salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}