{% extends 'base.html' %}
{% load static %}

{% block head %}

    <meta property="og:type" content="website">
    <meta property="og:title" content="L'unique Espaço de Beleza - Florianópolis">
    <meta property="og:description" content="Um sal&atilde;o de beleza no centro de Florian&oacute;polis, para voc&ecirc; real&ccedil;ar sua beleza com tratamentos diferenciados e t&eacute;cnicas avan&ccedil;adas. Venha conhecer nossos servi&ccedil;os e sinta-se &uacute;nica.">
    <meta property="og:url" content="https://realcesuabeleza.com.br/">
    <meta property="og:site_name" content="L'unique Espaço de Beleza">
    <meta property=og:type content=website>
    <meta property=og:image content="https://realcesuabeleza.com.br/static/img/destaque.jpeg">
    <meta property="og:image:width" content="1366" />
    <meta property="og:image:height" content="1024" />
    <meta property=”og:image:alt” content=”L`unique” />
    <meta property="og:locale" content="pt_BR" />

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel=icon href="{% static 'img/favicon.ico' %}" type="image/x-icon">

{% endblock %}

{% block stylesheet %}


{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<br><br>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/glitter.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/glitter.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/glitter.jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>

    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>

    </button>
</div>
<div class='row text-center'>
    <div class='col'>
        <h1>Realce sua beleza </h1>
    </div>
</div>



{% endblock %}
{% block javascript %}


{% endblock %}