{% extends 'base.html' %}
{% load static %}
{% block head %}

<meta property="og:type" content="website"/>
<meta property="og:title" content="{{ object.title }}"/>
<meta property="og:description" content="{{ object.title }}"/>
<meta property="og:url" content="{{ request.build_absolute_uri }}"/>
<meta property="og:image:secure_url" content="{{ request.build_absolute_uri }}" />
<meta property="og:site_name" content="{{ business_title }}"/>
<meta property="og:image:type" content="image/jpg" />


{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block head_title %}
{{ object.title }}
{% endblock %}

{% block content %}
<!--==========================
    Business navbar
  ============================-->
{% include 'businesses/business_navbar.html' %}
<!--===============-->
<div  class="row mt-5 d-flex flex-column min-vh-100">
    <div class="col-12 pt-4 align-self-center">
        <div class="row bg-dark justify-content-center">
            <div class="col-8 align-self-center">
                <h1 class="py-2 pl-sm-5 ml-4 pt-3 text-white" style="font-size: 1.4em; line-height: 1.4em;">Nossos serviços de {{ object.title }}:</h1>
            </div>
            <div class="col-1 ml-auto mr-4 align-self-center">
                <a href="{% url 'business_detail' request.session.business_slug %}#services" class="btn text-white btn-dark" data-toggle="tooltip" data-placement="bottom" title="Voltar para {{ business.title }}">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                </a>
            </div>

        </div>

        <div class="row">
            <div class="container">
                <div class="card-columns">

                {% for service, time in service_list %}
                    <div class="card m-1">
                        <!--=========
                        <div class="card-body">
                            <div class="card-img-actions">

                                <img src="eder.png" class="card-img img-fluid" width="96" height="350" alt="">


                            </div>
                        </div>
                        ======-->

                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2">
                                    <a href="{% url 'service_detail' request.session.business_slug service.slug %}" class="text-default mb-2" data-abc="true">{{ service.title }}</a>
                                </h6>
                                {{time.0.0}}
                            </div>

                            <h3 class="mb-0 font-weight-semibold">R$250.99</h3>

                            <div class="text-warning">
                                <i class="fa fa-star star"></i>
                                <i class="fa fa-star star"></i>
                                <i class="fa fa-star star"></i>
                                <i class="fa fa-star star"></i>
                                <i class="fa fa-star star"></i>
                            </div>

                            <div class="text-muted mb-3">34 reviews</div>

                            <button type="button" class="btn bg-cart">Agendar</button>


                        </div>
                    </div>
                {% endfor %}

            </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascript %}

{% endblock %}
